{% from 'macros/_navbar_css.html' import navbar_css with context %}
<!DOCTYPE html>
<html>
  <head>
    <title>hueweb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/hueweb.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">hueweb</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li{{ navbar_css('main') }}><a href="/">Main</a></li>
            <li{{ navbar_css('config') }}><a href="/config">Config</a></li>
            <li{{ navbar_css('groups') }}><a href="/groups">Groups</a></li>
            <li{{ navbar_css('lights') }}><a href="/lights">Lights</a></li>
            <li{{ navbar_css('scenes') }}><a href="/scenes">Scenes</a></li>
            <li{{ navbar_css('schedules') }}><a href="/schedules">Schedules</a></li>
            <li{{ navbar_css('about') }}><a href="/about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    {% for message in get_flashed_messages() %}
      <div class="alert alert-info">{{ message }}</div>
    {% endfor %}

    <div class="container">
    {% block body %}{% endblock %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Custom js -->
    <script src="{{ url_for('static', filename='js/hueweb.js') }}"></script>
  </body>
</html>

