{% extends "layout.html" %}
{% block content_container %}
<h1>Summary</h1>

<h2>Config</h2>

<table class="table table-striped">
<tbody>
    <tr>
        <th>Name</th>
        <td>Hue Controller</td>
    </tr>
    <tr>
        <th>Time (UTC)</th>
        <td>2014-01-10T01:48:23</td>
    </tr>
    <tr>
        <th>Link button pressed</th>
        <td>False</td>
    </tr>
    <tr>
        <th>Network via DHCP</th>
        <td>True</td>
    </tr>
    <tr>
        <th>MAC Address</th>
        <td>00:11:22:33:44:55</td>
    </tr>
    <tr>
        <th>IP</th>
        <td>10.20.30.40</td>
    </tr>
    <tr>
        <th>Netmask</th>
        <td>255.255.255.0</td>
    </tr>
    <tr>
        <th>Gateway</th>
        <td>10.20.30.1</td>
    </tr>
    <tr>
        <th>Connected to Portal Services</th>
        <td>True</td>
    </tr>
    <tr>
        <th>Software Version</th>
        <td>01008227</td>
    </tr>
</tbody>
</table>

<h2>Base</h2>

<h2>Groups</h2>

<h2>Lights</h2>

{% endblock %}
